@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1x151o');
  src:  url('fonts/icomoon.eot?1x151o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1x151o') format('truetype'),
    url('fonts/icomoon.woff?1x151o') format('woff'),
    url('fonts/icomoon.svg?1x151o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_circle:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
